---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
    <span slot="title">About Us</span>

    <div class="mt-4 text-lg text-white font-sans flex flex-col gap-4">
        <p>
            Antonito's Pepper Company is a small batch hot sauce and chili
            powder company based in Austin, Texas.
        </p>
    </div>
</BasicLayout>
