---
import NavigationHeader from "../components/NavigationHeader.astro";
import HeroSplash from "../components/HeroSplash.astro";
import ProductCollections from "../components/ProductCollections.astro";
import SecondaryNavigation from "../components/SecondaryNavigation.astro";
import Layout from "../layouts/Layout.astro";
---

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<Layout title="Antonito's Pepper Company">
  <div class="flex flex-col border-b border-gray-200 lg:border-0">
    <!-- HeroPromo -->
    <!-- HeroSplash -->
    <HeroSplash />
  </div>

  <!-- Trending products -->

  <!-- Collections -->
  <ProductCollections />
</Layout>
