---
import FooterBlurbs from "../components/FooterBlurbs.astro";
import FooterLinks from "../components/FooterLinks.astro";
---

<footer
    aria-labelledby="footer-heading"
    class="bg-antonito-light-beige pt-16 sm:pt-24 lg:pt-32"
>
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <FooterBlurbs />

        <FooterLinks />
    </div>
</footer>
