---
const year = new Date().getFullYear();
---

<div class="py-10 md:flex md:items-center md:justify-between">
    <div class="text-center md:text-left">
        <p class="text-sm text-gray-700">&copy; {year} All Rights Reserved</p>
    </div>

    <div class="mt-4 flex items-center justify-center md:mt-0">
        <div class="flex space-x-8">
            <a href="/privacy-policy" class="text-sm text-gray-700 hover:text-gray-800"
                >Privacy</a
            >
            <a href="/terms-of-service" class="text-sm text-gray-700 hover:text-gray-800"
                >Terms</a
            >
        </div>
    </div>
</div>
