---
import { Image } from "astro:assets";
import ranchoJerusalenImage from "../images/rancho-jerusalen.jpg"
---
<div class="relative bg-gray-900">
    <!-- Decorative image and overlay -->
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        <Image
            src={ranchoJerusalenImage}
            alt=""
            class="h-full w-full object-cover object-center"
        />
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-80">
    </div>

    <div
        class="relative mx-auto flex max-w-3xl flex-col items-center px-6 py-32 text-center sm:py-64 lg:px-0"
    >
        <h1
            class="text-4xl font-bold tracking-tight text-white lg:text-6xl font-serif uppercase"
        >
            Antonito's Pepper Company
        </h1>
        <p class="mt-4 text-xl text-white">
            From the valleys of Queretaro to your kitchen table, Antonito's offers the finest hot sauce and chili powder this side of the Panama Canal. Timeless as nopales, zesty as a lime in the summer sun -- and delivered straight to your doorstep.
        </p>
        <a
            href="/products/hot-sauce"
            class="mt-8 inline-block rounded-md border border-transparent bg-antonito-red text-white px-8 py-3 text-base font-bold"
            >Get the Sauce</a
        >
    </div>
</div>