---
import chilisAndPowder from "../images/chilis-and-powder.jpg";
import onions from "../images/onions.jpg";
import ResponsiveImage from "./ResponsiveImage.astro";
---

<div class="bg-antonito-light-beige">
    <div
        class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
    >
        <!-- Details section -->
        <section aria-labelledby="details-heading">
            <div class="flex flex-col items-center text-center">
                <h2
                    id="details-heading"
                    class="text-2xl font-bold font-serif uppercase text-antonito-red"
                >
                    How It's Made
                </h2>
                <p class="mt-3 max-w-3xl text-lg">
                    Most hot sauces follow a similar formula. Take an existing
                    hot sauce, change a flavor or two, and slap a new label on
                    it. Not Antonito's Pepper Company. When you buy Antonito's
                    Pepper Company, you're getting a sauce that's been carefully
                    crafted to be unlike any other.
                </p>
            </div>

            <div
                class="mt-16 grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:gap-x-8"
            >
                <div>
                    <div
                        class="aspect-h-2 aspect-w-3 w-full overflow-hidden rounded-lg"
                    >
                        <ResponsiveImage
                            src={chilisAndPowder}
                            alt="Photo of chilis and chili powder by Malinovy Knedlik on Unsplash"
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                    <p class="mt-8 text-base text-gray-700">
                        It all starts with natural whole foods, preparing each
                        individual ingredient to enhance flavor and complexity.
                        Our original recipes are prepared in small batches in
                        order to produce a unique taste that will have you
                        coming back to Antonito’s products time and time again.
                    </p>
                </div>
                <div>
                    <div
                        class="aspect-h-2 aspect-w-3 w-full overflow-hidden rounded-lg"
                    >
                        <ResponsiveImage
                            src={onions}
                            alt="Photo of onions by Stella de Smit on Unsplash"
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                    <p class="mt-8 text-base text-gray-700">
                        One of the most distinctive features of Antonito’s
                        products is the consistency. Every batch provides the
                        original Antonito’s flavor starting with a blend of
                        chiles, rounded out by select ingredients that give the
                        perfect balance of spice and flavor.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
