---
import { Image } from "astro:assets";
import hotSauce from "../images/hot-sauce.jpg";
import chiliPowder from "../images/chili-powder.jpg";
---

<section aria-labelledby="collections-heading" class="bg-antonito-light-beige">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <h2
                id="collections-heading"
                class="text-2xl font-bold font-serif uppercase text-antonito-red"
            >
                Shop Our Wares
            </h2>

            <div
                class="mt-6 space-y-12 lg:grid lg:grid-cols-2 lg:gap-x-6 lg:space-y-0"
            >
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
                    >
                        <Image
                            alt="Photo by Deeliver on Unsplash"
                            src={hotSauce}
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                    <h3 class="mt-6 text-xl font-serif text-antonito-red">
                        <a href="/products/hot-sauce">
                            <span class="absolute inset-0"></span>
                            The Hot Sauce
                        </a>
                    </h3>
                    <p class="text-lg font-sans text-antonito-dark-brown">
                        Chipotle in Adobo
                    </p>
                </div>
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
                    >
                        <Image
                            src={chiliPowder}
                            alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant."
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                    <h3 class="mt-6 text-xl font-serif text-antonito-red">
                        <a href="/products/chili-powder">
                            <span class="absolute inset-0"></span>
                            The Chili Powder
                        </a>
                    </h3>
                    <p class="text-lg font-sans text-antonito-dark-brown">
                        Season your Eggs
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
