---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "../base.css";

import FooterBlurbs from "../components/FooterBlurbs.astro";
import FooterLinks from "../components/FooterLinks.astro";
import SecondaryNavigation from "../components/SecondaryNavigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<SecondaryNavigation />

		<main class="bg-gray-50">
			<slot />
		</main>

		<footer aria-labelledby="footer-heading" class="bg-antonito-light-beige pt-16 sm:pt-24 lg:pt-32">
			<h2 id="footer-heading" class="sr-only">Footer</h2>
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			  <FooterBlurbs />
	  
			  <FooterLinks />
			</div>
		  </footer>
	</body>
</html>
